<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mangacloud">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_manga_cloud"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_manga_cloud_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MangaCloud"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Anime_wpage"
            android:exported="false" />
        <activity
            android:name=".PDFreader"
            android:exported="false" />
        <activity
            android:name=".Manga"
            android:exported="true" />
    </application>

</manifest>